<h2>{{title}}</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.name}}</td>
      <td>
        <div class="row">
          <div class="col-md-2">
            <button type="button" class="btn btn-default" (click)="selectTask(task)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger" (click)="deleteTask(task.id)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

