<h2>{{title}}</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.name}}</td>
      <td>
        <button type="button" class="btn btn-default" (click)="onClick(task)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<task-edit [task]="selectedTask"></task-edit>
